---
import ServiceImg from "../assets/services.svg"
import FastImg from "../assets/fast.svg"
import MoneyImg from "../assets/money.svg"
import UsersImg from "../assets/users.svg"
import WideImg from "../assets/wide.svg"
---

<section id="services">
    <p class="heading">Services we provide...</p>
    <div class="service-section">
    <div class="image">
        <img width="600" height="450" src={ServiceImg} alt="A simple illustration showing different options"/>
    </div>
    <div class="services">
        <div class="service">
            <img height="50" width="50" src={FastImg} alt="Small icon to show Fast and affordable payments"/>
            <div>
                <p class="title">Fast and affordable payments</p>
                <p class="description">FinEdge use technology to streamline the cross-border payments process, making it faster.</p>
            </div>
        </div>
        <div class="service">
            <img height="50" width="50" src={MoneyImg} alt="Small icon to show Transparent fees"/>
            <div>
                <p class="title">Transparent fees</p>
                <p class="description">We offer transparent fees, so you know exactly how much you're paying to send money overseas.
                </p>
            </div>
        </div>
        <div class="service">
            <img height="50" width="50" src={UsersImg} alt="Small icon to show Convenient and user-friendly platforms"/>
            <div>
                <p class="title">Convenient and user-friendly platforms</p>
                <p class="description">We make it easy to send and receive money internationally, you can usually do this from your computer or mobile device.</p>
            </div>
        </div>
        <div class="service">
            <img height="50" width="50" src={WideImg} alt="Small icon to show Wide range of payment options">
            <div>
                <p class="title">Wide range of payment options</p>
                <p class="description">FinEdge offers a wide range of payment options, so you can send money to almost anywhere in the world.</p>
            </div>
        </div>
    </div>
    </div>
</section>

<style>
#services{
    height: 100vh;
}
.heading{
    font-size: clamp(2rem,3rem,3rem);
    font-weight: 900;
    padding-block: 2rem;
}
.service-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
.services{
    max-width: 35%;
}
.service{
    display: flex;
    gap:1rem;
    padding: 0.6rem;
    margin-block: 0.5rem;
    border: 2px solid black;
    border-radius: 10px;
}
.title{
    font-weight: 900;
    font-size: 20px;
}
.description{
    font-weight: 400;
    color: rgb(75, 75, 75);
}
@media screen and (max-width: 950px){
    #services{
        height: fit-content;
        padding-block: 5rem;
    }
    .service-section{
        flex-direction: column;
    }
    .image{
        display: flex;
        justify-content: center;
    }
    img{
    max-width: 400px;
    max-height: 300px;
}
.services{
    max-width: 100%;
}
}
</style>